<mat-toolbar>
    <section class="section1">
        <div class="div1">
            <button mat-button>
                <span class="logo">KK Decor</span>
            </button>
        </div>
        <div class="div2">
            <button mat-button>
                <span class="links">Home</span>
            </button>
            <button mat-button>
                <span class="links">Service</span>
            </button>
            <button mat-button>
                <span class="links">Contact</span>
            </button>
            <button mat-button>
                <span class="links">About</span>
            </button>
        </div>
    </section>
    <section class="section2">

        <button mat-icon-button  >
            <mat-icon class="links">manage_accounts </mat-icon>
        </button>
    </section>
</mat-toolbar>
